<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/tree.jpeg" alt="Placeholder image">
      </figure>
    </div>
      <div class="card-content">
          <div class="media-content">
            <p class="title is-4">Neat Tree</p>
            <p class="subtitle is-6">@SalimHussen</p>
          </div>
  
      <div class="content">
        What a beautiful day for a walk i the desert, with a dessert in my head and a gun
        on my hips.
      </div>
  </div>